<?xml version="1.0" encoding="utf-8"?>
<packages>
  <connectionStrings>
    <add name="ProjectEntities" connectionString="metadata=res://*/Avigilon.csdl|res://*/Avigilon.ssdl|res://*/Avigilon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=OPTIMUS-178\SQLEXPRESS;initial catalog=Project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
</packages>